<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.mapper.Swiper_CaseMapper">

    <select id="getAll" resultType="Swiper_Case">
        select * from Swiper_policy
    </select>

    <select id="getOne" resultType="Swiper_Case">
        select * from Swiper_policy where id = #{id}
    </select>





</mapper>
